/* Header */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #222;
}

header ul {
  display: flex;
  gap: 1rem;
  padding-inline-end: 1rem;
}

header ul li {
  list-style: none;
}

header ul li a {
  color: var(--clr-primary);
  text-decoration: none;
}
header ul li a:hover {
  text-decoration: underline;
}
