body main {
  margin-top: var(--main-mt);
}

body h1 {
  color: var(--clr-primary);
}

body main > div {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

body main section {
  /* width: 25%; */
  min-width: 200px;
  max-width: 300px;
  display: flex;
  align-items: start;
  gap: 5px;
}

body main section img {
  width: 100%;
}
body main section div {
  width: 100%;
}
